<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workshop</title>
  </head>
  <body>
    <h1>Day 12 Workshop:</h1>
    <br />
    <h2>How many numbers do you wish to generate?</h2>
    <form method="POST" action="workshop/processNumber">
      <input
        type="number"
        name="inputNumber"
        placeholder="Input a number between 1 to 20"
        min="1"
        max="20"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
